body {
	 width: 900;
	 margin: 0 auto;
         background-color: #efefef;}

a {
    color: #000088;
    text-decoration: none;}
a:hover {
    color: #0000FF;}

#content {
    overflow: auto;
}

#header, #nav, #feature, #footer{
    margin: 1%;}

#droplist{
    margin: 5%}

#nav, #feature, #footer {
    border: ridge 5px}

#nav, #footer {
	 background-color: #cfcfcf;
	 padding: 0.1em 0;
         text-align: center;}

li {
	 display: inline;
	 padding: 1.5em;}

#feature, .article {
	 height: 10em;
	 margin-bottom: 1em;
	 background-color: #cfcfcf;}

#chart_div {
    margin-left: auto;
    margin-right:auto;
    width: 800px;}